<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.warless.xender.mapper.ResourceMapper" >

    <insert id="insert">
      INSERT INTO
        tb_resource(id, type, content, path)
      VALUES
        (#{res.id}, #{res.type}, #{res.content}, #{res.path})
    </insert>

    <select id="selectAll" resultType="Resource">
      SELECT id, type, content, path FROM tb_resource
    </select>

</mapper>